data-theme="light"] {
  --color-primary: #FF007F;
  --color-secondary: #00AFF0;
  --color-text: #0E0E0E;
  --color-text-offset: #FF8C69;
  --color-text-gris: #C084FC;
  --color-text-dark: #0E0E0E;
  --color-placeholder: #FF8C69;
  --color-background: #FFF8F3;
  --color-background-offset: #FF8C69;
  --color-background-contact-input: #FFF8F3;
  --color-border: rgba(14, 14, 14, 0.1);
  --color-border-input: #FF8C69;
}

[data-theme="dark"] {
  --color-primary: #FF007F;
  --color-secondary: #00AFF0;
  --color-text: #FFF8F3;
  --color-text-offset: #C084FC;
  --color-text-gris: #FF8C69;
  --color-text-dark: #FFF8F3;
  --color-placeholder: #FF8C69;
  --color-background: #0E0E0E;
  --color-background-offset: #C084FC;
  --color-background-contact-input: #0E0E0E;
  --color-border: rgba(255, 248, 243, 0.1);
  --color-border-input: #C084FC;
}
