<section class="max-w-[88rem] py-12">
  <div class="container mx-auto px-4">
    <div class="-mx-4 flex flex-wrap gap-10">
      <div
        class="group relative overflow-hidden rounded-lg px-6 pb-8 pt-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:rounded-lg sm:px-10"
      >
        <span
          class="absolute top-10 z-0 h-20 w-20 rounded-full bg-primary transition-all duration-300 group-hover:scale-[15]"
        ></span>
        <div class="relative z-10 mx-auto max-w-md">
          <span
            class="grid h-20 w-20 place-items-center rounded-full bg-primary transition-all duration-300 group-hover:bg-primary"
          >
            <span class="h-10 w-10 text-white transition-all">📈</span>
          </span>
          <h2
            class="mt-5 font-bold transition-all duration-300 text-2xl group-hover:text-dark"
          >
            Market
          </h2>
          <div
            class="space-y-6 pt-5 leading-7 transition-all duration-300 text-base group-hover:text-dark"
          >
            <p class="text-pretty">
              700M Telegram users, 200M OnlyFans creators. Fans become "GEMologists," 
              trading 🔥  fiya digital A$$ daily, building their Telegram $TON wealth, and 
              earning a ton of 🌶️ rewards by flexing their PPV GEM bag on social media to
              recruit new playas and GEMS.
            </p>
          </div>
        </div>
      </div>
      <div
        class="group relative overflow-hidden rounded-lg px-6 pb-8 pt-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:rounded-lg sm:px-10"
      >
        <span
          class="absolute top-10 z-0 h-20 w-20 rounded-full bg-primary transition-all duration-300 group-hover:scale-[15]"
        ></span>
        <div class="relative z-10 mx-auto max-w-md">
          <span
            class="grid h-20 w-20 place-items-center rounded-full bg-primary transition-all duration-300 group-hover:bg-primary"
          >
            <span class="h-10 w-10 text-white transition-all">⭐</span>
          </span>
          <h2
            class="mt-5 font-bold transition-all duration-300 text-2xl group-hover:text-dark"
          >
            Telegram Stars
          </h2>
          <div
            class="space-y-6 pt-5 leading-7 transition-all duration-300 text-base group-hover:text-dark"
          >
            <p class="text-pretty">
              Telegram PPV GEM subscribers vote on the original digital assets 
              they want to own and see using Telegram's star reactions. These 
              votes shape the leaderboard, determining which subscribers 
              (publicly or privately) have a voice in choosing the next PPV GEM drops.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
</style>
