---
import ContentSection from "~/components/content-section.astro";
import Perfiles from "~/components/perfiles.astro";
import MisionVision from "~/components/mision-vision.astro";
---

<ContentSection title="Arvrtise" id="nosotros">
  <Fragment slot="lead">
    <span class="text-primary">Arvrtise</span> is a one stop shop for Web5 marketing with no middleman fees.<span class="text-primary">Arvrtise</span> 
    marketing campaigns use digital ads that are airdropped to your verified wallet that allows you to re-sell 
    the ad to your customers, fans or clients to unlock your services, products or access to your Arvrtise Discord channels.</span> 
  </Fragment>
  <MisionVision />
  <!-- <Perfiles /> -->
</ContentSection>