---
import ContentSection from "~/components/content-section.astro";
import Perfiles from "~/components/perfiles.astro";
import MisionVision from "~/components/mision-vision.astro";
---

<ContentSection title="About Us" id="nosotros">
  <Fragment slot="lead">
    <span>
      <span class="text-primary">CRE Club</span> is an elite group of services, brokers and investors
      united in a private CRE Club Discord tokenizing CRE as Bitcoin to make CRE great again.
      The <span class="text-primary">CRE Club</span> tokenizes RWA as Bitcoin as 24HR service for subscribers.
      Promote your CRE on the fastest growing <a href="https://www.tiktok.com/@creclub" target="_blank" rel="noopener noreferrer">TikTok</a>
      page CRE Club. 
    </span>
  </Fragment>
  <MisionVision />
  <!-- <Perfiles /> -->
</ContentSection>
