---
import ContentSection from "~/components/content-section.astro";
import Perfiles from "~/components/perfiles.astro";
import MisionVision from "~/components/mision-vision.astro";
---

<ContentSection title="PPV GEM" id="nosotros">
  <Fragment slot="lead">
    💎 Level up your fandom with a Telegram blockchain game that pays playas 💯 in Telegram $TON 💰— Trade 1-of-1 digital assets playas
    call digital A$$ of your fav <span class="text-primary">PPV GEM</span> to unlock exclusive on-demand content described with HahzTag 
    emojis. Think personalized videos, photos, messages, and even live-streamed one-of-a-kind events. 
  </Fragment>
  <MisionVision />
  <!-- <Perfiles /> -->
</ContentSection>