---
import ContentSection from "~/components/content-section.astro";
import Perfiles from "~/components/perfiles.astro";
import MisionVision from "~/components/mision-vision.astro";
---

<ContentSection title="CRE CLUB" id="nosotros">
  <Fragment slot="lead">
    The <span class="text-primary">CRE CLUB</span> is an elite network of investors, brokers, and service providers who utilize Bitcoin 
    ($RNT) for rentals, auctions, and CRE CLUB marketing. Led by the pioneer of tokenized CRE, the Wizard of Hahz, a former CRE CMO with 
    real-world blockchain blueprints, this exclusive group is at the forefront of integrating Bitcoin into real estate transactions to
    make real estate great again. Worldwide investors are exclusively interested in Bitcoin tokenized real estate. Sell a Bitcoin CRE 
    property in a day, not a year.
  </Fragment>
  <MisionVision />
  <!-- <Perfiles /> -->
</ContentSection>