---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="PORTALS" id="portal">
  <Fragment slot="lead">
      PPV GEM creators bid on one of 6 portals available for promoting their PPV GEM content using Telegram $TON or Bitcoin L$VE based on the daily ad rate.
  </Fragment>
  
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
