---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="MEMBERSHIP" id="portal">
  <Fragment slot="lead">
    Purchase an existing Bitcoin CRE below or hold Bitcoin <a href="https://unisat.io/marketplace/$RNT" target="_blank">$RNT</a>, <a href="https://unisat.io/marketplace/L$VE" target="_blank">L$VE</a>, or <a href="https://unisat.io/marketplace/$CBO" target="_blank">$CBO</a> to become a member. DM <a href="https://www.tiktok.com/@creclub" target="_blank">@CRECLUB</a> on TikTok with proof of your Bitcoin #Inscription or email Arvrtise for an onboarding CRE CLUB call.  
  </Fragment>
  
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
